body {
    background-color: #464e52;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 85px;
    font-family: 'Libre Barcode 39 Text', cursive;
}

header {
    display: flex;
    border-radius: 70%;
    height: 50px;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
}

h3,
.livesRemaining {
    font-family: 'Montserrat', sans-serif;
    ;
    font-size: 25px;
}

.test {
    font-size: 50px;
    padding: 50px 20px 50px 20px;
}

.alphButtons {
    font-size: 20px;
    border-radius: 50px;
    margin: 5px;
}

.alphButtons:hover {
    background-color: rgb(201, 152, 152);
}